body{
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.nav{
    background-color: #FFFFFF;
    
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.span{
    color: #2E2F42;
}
.list-1{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.list-1:hover,
.list-1:active{
    color: #404bbf;
}
.address{
    font-style: normal;
}
.address-link{
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.address-link:hover,
.address-link:active{
    color: #404BBF;
}
h1{
    font-weight: bold;
    font-size:56px;
    letter-spacing: 2%;
    line-height: 60px;
}
h2{
    font-weight: bold;
    font-size:36px;
    letter-spacing: 2%;
}
h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}
.button{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color:#FFFFFF;
    cursor: pointer;
}
.button:hover,
.button:active{
    background-color:#404BBF;
    color: #ffffff;
}
a{
    font-size:12px;
    color: black;
    letter-spacing: 4%;
    line-height: 16px;
    text-decoration: none;
}
a:hover{
    color: #404BBF;
}
a:active{
    text-decoration: #404BBF underline;
}

footer{
    background-color: #2E2F42;
}

.our-team{
    background-color: #F4F4FD;
}
.our-team .h22{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.hero{
    background-color: #2E2F42;
}
.h1-header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.section2-ul li .h33{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section2-ul li .ppp{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-3{
    background-color: #FFFFFF;
}

.section3-ul li .h33{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section3-ul li .ppp{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section4-ul li .h33{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section4-ul li .ppp{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-section{
    background-color: #2E2F42;
}
.footer .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer .logo .span{
    color: #F4F4FD;
}
.footer .ppp{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}